<h1>Welcome to CSE Motors!</h1>
<section id="upper-page">
    <div id="call">
        <h2>DMC Delorean</h2>
        <p>3 Cup Holders</p>
        <p>Superman Doors</p>
        <p>Fuzzy Dice</p>
        <a href="#"><img id="own-today" src="../images/site/own_today.png" alt="Own Today Button"/></a>
    </div>
    <img id="car-background" src="../images/vehicles/delorean.jpg"/>
</section>
<section id="lower-page">
    <div id="upgrades">
        <h2>Delorean Upgrades</h2>
        <div id="upgrades-square">
            <div class="upgrade-card">
                <div class="image-container">
                    <img src="../images/upgrades/flux-cap.png" alt="Flux Capacitor"/>
                </div>
                <a href="#">Flux Capacitor</a>
            </div>
            <div class="upgrade-card">
                <div class="image-container">
                    <img src="../images/upgrades/flame.jpg" alt="flame decals"/>
                </div>
                <a href="#">Flame Decals</a>
            </div>
            <div class="upgrade-card">
                <div class="image-container">
                    <img src="../images/upgrades/bumper_sticker.jpg" alt="Image of Bumper Sticker"/>
                </div>
                <a href="#">Bumper Stickers</a>
            </div>
            <div class="upgrade-card">
                <div class="image-container">
                    <img src="../images/upgrades/hub-cap.jpg" alt="Hub Caps"/>
                </div>
                <a href="#">Hub Caps</a>
            </div>
        </div>
    </div>
    <div id="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul id="reviews list">
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road."(4/5)</li>
            <li>"I'm feeling McFly!"(5/5)</li>
            <li>"The most futuristic ride of our day."(4.5/5)</li>
            <li>"80's livin and I love it!"(5/5)</li>
        </ul>
    </div>
</section>